@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: system-ui;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*Sidebar*/

li{
  font-size: 1.25rem;
}
.item-menu{
  width: 230px;
}
.space-bordered{
  height: 64px;
  border-bottom: 1px solid rgb(255, 255, 255,.1);
  transition: .4s;
}

.space_menu{
  height: 28px;
}


/*Footer*/

.footer{
  color: #8A9199;
  font-weight: bold;
}
/* END */


.active{
  box-shadow: 5px 5px  5px #f4f6f9;
  /*background: #f4f6f9;*/
}
.sideOpen{
  width: 230px
}


body {
  margin: 0 auto;
  padding: 0 auto;
  color: rgb(var(--foreground-rgb));
  
}
.title-info-alert{
  color: rgb(33,150,243);
  font-weight: bold;
}
.matricula-info{
  font-weight: bold;

}
.alert-info{
  border-left: rgb(33,150,243) 5px solid;
  box-shadow: 5px 5px 5px rgb(110, 108, 108);
  border-radius: 10px;
}
.alert-info li{
  font-size: 14px;
}
.list-info{
  list-style-type: disc;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
